<footer class="footer">
  <div class="container">
    <div class="navbar navbar-expand-md navbar-light">
    <a class="logo-font" routerLink="/">e-learning</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy'}}.
    </span>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
