.logo-font{
  color: #ff5955;
}

.nav-link {
  cursor: pointer;
}

.nav-link{
  margin-right: auto;
  color: #212323;
  font-weight: lighter ;
}
.navbar-light .navbar-brand {
  color:#ff5955;
  font-weight: bold;
}
