.nav-link {
  cursor: pointer;
}

.nav-link{
  color: #212323;
  font-weight: bold;
}
.navbar-light .navbar-brand {
  color:#ff5955;
  font-weight: bold;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}