<div class="home-page">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Modern Education for EVERYONE</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">About us</a>
    </p>
  </div>
  <div class="container mx-auto">
    <div class="row">
      <div class="col-sm-10 col-md-3 mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <img class="card-img-top" src="app/home/img/if_Dashboard.png">
            <h5 class="card-title">Learn</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus</p>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-md-3 mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <img class="card-img-top" src="app/home/img/if_Done.png" alt="test">
            <h5 class="card-title">Test yourself</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus</p>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-md-3 mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <img class="card-img-top" src="app/home/img/if_Settings.png">
            <h5 class="card-title">Use Your Knowlede</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus</p>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
